.container {
  box-sizing: content-box;
  max-width: 1200px;
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
