.login {
  width: 290px;
}

.login_image {
  display: block;
  width: 100px;
  margin: 15px auto 20px;
}

.login_body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  text-align: center;
}

.login_title {
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

.login_description {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.45);
}

.login_actions li {
  margin: 0.75rem 0;
}
